@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=IBM+Plex+Mono:wght@500&family=Lato:wght@300&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main-bar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 90px auto 90px;
}

nav h1 {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  transition: 0.5s ease;
}

.card ul a {
  background-color: #ebebff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 8px;
}

nav ul li a:hover {
  border-bottom: 0.5px solid #172b4d;
}

main {
  background-image: url(./image/backgroundimg.png);
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 20%;
}

.main-bar main .sub-main {
  display: flex;
  flex-direction: column;
  padding: 190px 180px 160px 180px;
  line-height: 1.8;
}

main section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  color: #172b4d;
}

.primary h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
}

.top h1 {
  width: 327px;
  height: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-bottom: 55px;
}

.about .left h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.contact .sub-contact h1 {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 15px;
}

.main-bar main .sub-main h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
}

main section p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.frame p {
  display: flex;
  align-items: center;
  width: 80px;
  height: 16px;
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
  color: #344563;
}

.top p {
  width: 327px;
  height: 147px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 25px;
}

.top .btn p {
  width: 138px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.about .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact .sub-contact p {
  display: flex;
  color: #ebebff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.main-bar main .sub-main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.works {
  display: grid;
  flex-direction: column;
  grid-template-columns: auto;
  justify-content: center;
  gap: 50px;
  background-color: #f7f7f9;
  padding: 70px 25px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 12px;
  width: 650px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.works #one {
  display: flex;
  flex-direction: row;
  padding: auto 70px auto 70px;
}

.works #two,
.works #four {
  display: flex;
  flex-direction: row-reverse;
}

.card #img1 {
  width: 295px;
  height: 220px;
  background: url(./image/one);
  border-radius: 8px;
}

.card .left-bloks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 295px;
  height: 200px;
  margin-left: 10px;
}

.primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.frame #font {
  font-weight: 700;
  font-size: 15px;
}

.frame h6 {
  width: 88px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card .text {
  width: 295px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  color: #344563;
}

main section ul {
  display: flex;
  gap: 15px;
}

.card ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 214px;
  height: 24px;
  gap: 10px;
}

.card .action {
  width: 295px;
  height: 50px;
}

.top .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.about .left .btn {
  color: #396df2;
  border-radius: 5px;
  font-size: 15px;
  border: 0.5px solid #396df2;
  padding: 15px;
  cursor: pointer;
}

.card .action .btn {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #fff;
  padding: 7px;
  gap: 10px;
  margin-top: 15px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  transition: 0.5s ease;
  cursor: pointer;
}

.card .action .btn:hover {
  background-color: #8300ff;
}

.card .action .btn p {
  color: #8300ff;
  font-weight: 500;
  font-size: 12px;
  transition: 0.5s ease;
}

.card .action .btn p:hover {
  color: #fff;
}

.card #img2 {
  width: 295px;
  height: 220px;
  background: url(./image/multi-post.png);
  border-radius: 8px;
}

.card #img3 {
  width: 295px;
  height: 220px;
  background: url(./image/toxic.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card #img4 {
  width: 295px;
  height: 220px;
  background: url(./image/stories.png);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  gap: 24px;
  width: 100%;
  height: 100vh;
  margin-top: 140px;
  line-height: 1.5;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  height: 80px;
}

main section h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.social ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 35px;
}

.skill .frame1 .sub-flame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.skill .frame1 .language {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  width: 250px;
}

.language .sub-flame1 img {
  width: 40px;
}

.language .sub-flame1 h3 {
  font-size: 12px;
}

.skill .frame3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contact {
  padding-top: 100px;
  background: #7b86eb;
  background-image: url(./image/backgroundimg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 7rem;
}

.contact .sub-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: auto 180px 50px 180px;
}

.contact form {
  display: flex;
  flex-direction: column;
  padding: 18px;
  margin-bottom: 20px;
}

.contact form input[type=text],
input[type=email],
textarea[type=area] {
  border-radius: 5px;
  padding: 15px;
  border: none;
  margin: 7px;
  color: #8300ff;
}

input[type=submit] {
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin: 7px;
  width: 100px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 400;
  transition: 0.5s ease;
}

input[type=submit]:hover {
  background-color: #396df2;
  color: #fff;
}
